@using IW5.Models.Entities

@foreach (var option in Options)
{
    <div class="form-check">
        <input class="form-check-input" type="checkbox"
               id="@($"option_{option.Id}")"
               value="@option.Id.ToString()"
               @onchange="() => OnCheckboxChanged(option.Text)"
               checked="@SelectedOptionsStrings.Contains(option.Text)" />
        <label class="form-check-label" for="@($"option_{option.Id}")">
            @option.Text
        </label>
    </div>
}

@code {
    [Parameter]
    public ICollection<Option> Options { get; set; }

    [Parameter]
    public Guid QuestionId { get; set; }

    [Parameter] 
    public EventCallback<List<string>> OnOptionsSelected { get; set; }

    private List<Guid> SelectedOptionsIds { get; set; } = new List<Guid>();

    private List<string> SelectedOptionsStrings { get; set; } = new List<string>();

    public List<Guid> SelectedOptions
    {
        get => SelectedOptionsStrings.Select(s => Guid.Parse(s)).ToList();
    }

    private async Task OnCheckboxChanged(string optionText)
    {
        if (SelectedOptionsStrings.Contains(optionText))
        {
            SelectedOptionsStrings.Remove(optionText);
        }
        else
        {
            SelectedOptionsStrings.Add(optionText);
        }

        await OnOptionsSelected.InvokeAsync(new List<string>(SelectedOptionsStrings));
    }
}
